.navbar {
	.container {
		display: flex;
		justify-content: space-between;
		.right {
			flex-shrink: 0;
		}
		.navbar-collapse {
			flex-grow: 0;
		}
		.navbar_title {
			font-size: 24px;
			text-transform: capitalize;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}
	a {
		font-weight: 500;
	}
	&-toggler {
		outline: 0;
		border: 0;
		&:focus,
		:hover {
			outline: 0;
			box-shadow: none;
		}
	}
}
